@charset "UTF-8";



body{
  text-align: left;
  padding: auto;
  flex-direction: column;
  background-image: url(/image/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}


header{
  background-color: #28EB6A;
  background: radial-gradient(circle,#28EB6A,#B5D206);
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  border: #000000;
  border-radius: 5px;
  box-shadow: 0px 4px 8px -2px #000000;
  margin: auto;
  width:auto;
  height: 50px;
}

.header {
  
}


p {
  text-align: center;
  font-size: 25px;
  height: auto;
  margin: auto;
  margin-top: 850px;
}

h1{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;

}



button {
  cursor: pointer;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background: #ffffff;
  background-color: #28eb6980;
  float:auto;
  display: block;
  margin: 1px ;

}
img {
  margin: auto;
  max-width: 300px;
  border: 2px #28EB6A;
  margin-right: 10px;
}


footer{
  margin: auto;
  background: radial-gradient(circle,#28EB6A,#B5D206);
  width: auto;
  left: auto;
  height: 200px;
}

.container {
  background-position: center;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.button-container button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #0056b3;
}
