@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #fff;
}

p {
  cursor: pointer;
  font-weight: 600;
  color: #26874e;
}

h1 {
  font-size: 1.8em;
  color: #26874e;
  padding: 0px 0px 35px 15px;
}

h2 {
  font-size: 1.4em;
  color: #26874e;
}

input {
  width: 80%;
  height: 30px;
  border: none;
  border-bottom: 1px solid silver;
  outline: none;
  font-weight: 600;
  color: #1c1c1c;
  padding-left: 3px;
}

button {
  cursor: pointer;
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background: #26874e;
}

body {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../image/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* Define a mesma imagem de fundo no ::before */
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;

    /* Adiciona o efeito de desfoque */
    filter: blur(2px);
    z-index: -1;

    /* Para garantir que o conteúdo seja visível */
    backdrop-filter: blur(10px);
}

#container {
  width: 320px;
  height: 520px;
  border-radius: 10px;
  /* -webkit-box-shadow: 0px 0px 6px -1px #000000; */
  /* box-shadow: 0px 0px 6px -1px #000000; */
  background: #0000;

  display: flex;
  align-items: center;
}

#container .banner {
  width: 520px;
  height: 520px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(#99e89d, #4da768, #26874e);

  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#container .box-login {
  width: 320px;
  height: 520px;
   border-radius: 10px;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-login .box {
  width: 80%;
  height: 320px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box .social {
  width: 240px;
  height: 42px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social img {
  cursor: pointer;
}

.box-login .box-account {
  width: 80%;
  height: 360px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#bubble {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 1px solid #483d8b;
  background: slateblue;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  #container {
    width: 902px;
    justify-content: space-between;
  }

  #container .banner {
    display: flex;
  }

  #container .box-login {
    width: 385px;
    border-radius: 0px 10px 10px 0px;
  }
}
